<!--<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>home</title>

<style type="text/css">

body {
    font-size: 14px;
    background-color: #f7f7f7;
    font-family: 'PT Sans',sans-serif;
    height: 100%;
}.ossn-layout-startup {
    min-height: 560px;
    background: url(http://demo.opensource-socialnetwork.org/themes/goblue/images/background.jpg) no-repeat;
    background-size: cover;}.ossn-home-container .row {
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}.ossn-home-container .ossn-page-contents {
    background: rgba(255,255,255,.18);
    border: 1px solid rgba(238,238,238,.08);
}.ossn-layout-media .content, .ossn-page-contents {
    background: #fff;
    padding: 10px;
    border: 1px solid #eee;
}.row {
    margin-right: -15px;
    margin-left: -15px;
}.fa {
    margin-right: 5px;
}.home-left-contents .some-icons {
    margin-top: 10%;
    text-align: center;
}.home-left-contents .some-icons li {
    display: inline-block;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 100%;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
}li {
    display: list-item;
    text-align: -webkit-match-parent;
}
Inherited from ul.some-icons
ossn.default.css:1
.home-left-contents .some-icons {
    margin-top: 10%;
    text-align: center;
}ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}.fa-group:before, .fa-users:before {
    content: "\f0c0";
}::-webkit-scrollbar {
    width: 10px;
}::-webkit-scrollbar-thumb {
    background-color: #ccc;
}::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}

</head>
<body>
<div class="ossn-inner-page">    
  	  		  <div class="ossn-layout-startup">
	<div class="container">
		<div class="row">
            <div class="ossn-system-messages">
   <div class="row">
	   <div class="col-md-11 ossn-system-messages-inner">
    		   		</div>
    		   		
</div> 
</div>           
			<div class="ossn-home-container">
				<div class="inner">
					<div class="row ossn-page-contents">
		<div class="col-md-6 home-left-contents">
		
            <div class="description">
            	Welcome to Web Chat! Join now to make new friends, create groups, add photos, and much more.            </div>
            
           	 <ul  class="some-icons">
                	<li><i class="fa fa-users fa-3x"></i></li>
                	<li><i class="fa fa-comments-o fa-3x"></i></li>
                	<li><i class="fa fa-envelope fa-3x"></i></li>
                	<li><i class="fa fa-globe fa-3x"></i></li>
                	<li><i class="fa fa-picture-o fa-3x"></i></li>
                	<li><i class="fa fa-video-camera fa-3x"></i></li>
                	<li><i class="fa fa-map-marker fa-3x"></i></li>
                	<li><i class="fa fa-calendar fa-3x"></i></li>
             </ul>
 	   </div>
 	   <div class="col-md-6 home-right-contents">
			<div class="logo">
            	<img src="logo.png" />
            </div>	
            </div> 
 	   </div>
 	   </div>
 	   </div>
 	   </div>
 	   </div>
 	   </div></div>  

</body>
</html>-->