<body>
<br>
<br>
<div>
<div  class="container" ng-controller="UserController as ctrl"  name="listUser">


All users<hr>
<div ng-init=ctrl.fetchAllUsers()>
<div ng-repeat="user in ctrl.users" >

user id:{{user.userId}}<br>
name:{{user.name}}<br>
phone no:{{user.phoneNo}}<br>
user role:{{user.role}}
 <!--<div class="col-md-12">
                        <a href="#!/update-user"  class="custom-btn btn">Edit Profile</a>
                        <a href="#/"ng-click="ctrl.delete()" class="custom-btn btn">Delete Account</a>
                    </div>-->
<hr>
<!--<a href = "#"  ng-click="ctrl.getSelectedBlog(blog.id)"> <br>Title  {{blog.blogDescription}}&nbsp;&nbsp; -  Written By:  &nbsp;&nbsp;Date:</a>-->
</div>

</div>
</div>
</div>
</body>