
<head>
    <style>
        section{
		padding-left: 15px;
	}
    body
{
    background:url('././assets/1.jpg') fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
    	padding-left: 15px;
}

.wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
</style>
</head>
<body>
<br>
       <div ng-if="currentUser.role=='Guest'">
        <a href="#!/myProfile" >My Profile</a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="#!/memberslist" >All Users</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#!/friendRequests" >Pending Friends Request</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#!/myfriends" >My Friends</a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="#!/createblog">Create Blog</a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="#!/listblog">List Blog</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#!/forumlist">Forum list</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#!/login" ng-click="ctrl.logout()">logout</a>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
         <div ng-if="currentUser.role=='employee'">
        <a href="#!/myProfile" >My Profile</a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="#!/memberslist" >All Users</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#!/friendRequests" >Pending Friends Request</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#!/myfriends" >My Friends</a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="#!/createblog">Create Blog</a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="#!/listblog">List Blog</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#!/forumlist">Forum list</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#!/login" ng-click="ctrl.logout()">logout</a>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="w3-container w3-orange" ng-controller="UserController as ctrl"  ng-if="currentUser.role=='admin'">
  <h1></h1>  
        <a  href="#!/listUser">Users</a>&nbsp;&nbsp;&nbsp;&nbsp;
	    <a href="http://www.ndtv.com/">News</a>&nbsp;&nbsp;&nbsp;&nbsp;
	    <a href="#!/post_job">Post Job</a>&nbsp;&nbsp;&nbsp;&nbsp;
	    <a href="#!/listblog">Blogs</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#!/createForum">Create Forum</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#!/forumlist">Forum list</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#!/myProfile" >My Profile</a>&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="#!/login" ng-click="ctrl.logout()">logout</a>&nbsp;&nbsp;&nbsp;&nbsp;
</div>
<br>
<div  name="myProfile">
	<div class="generic-container" ng-controller="UserController as ctrl">

                    Current User :  {{currentUser.name}}

			
				
					<h3>My Profile</h3>


							<div class="container">
            <div class="custom-bg-inset">
                <div class="row">
                    <div class="col-md-12">
                        <!--<div class="profile-image">
                            <img src="resources/img/user-128.png" class="img-circle img-thumbnail" />
                        </div>-->
                        <div class="profile-heading">
                            <h2><b><u>{{currentUser.userId}}</u>&nbsp;&nbsp;</b></h2>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12"><h4>Name&nbsp;:&nbsp;{{currentUser.name}}</h4></div>
                    <div class="col-md-12"><h4>Email&nbsp;:&nbsp;{{currentUser.email}}</h4></div>
                    <div class="col-md-12"><h4>Mobile&nbsp;:&nbsp;{{currentUser.phoneNo}}</h4></div>
                    <div class="col-md-12"><h4>Role&nbsp;:&nbsp;{{currentUser.role}}</h4></div>
                    <div type="password" class="col-md-12"><h4>Password&nbsp;:&nbsp;{{currentUser.password}}</h4></div>
                    <div class="col-md-12"><h4>Address&nbsp;:&nbsp;{{currentUser.address}}</h4></div>
                
                     
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <a href="#!/update-user"  class="custom-btn btn">Edit Profile</a>
                        <!--<a href="#/"ng-click="ctrl.delete()" class="custom-btn btn">Delete Account</a>-->
                    </div>
                    
                </div>
            </div>
        </div>


	</div>
	</div>
						
				

</body>