<!doctype html>
<html ng-app="myApp2" ng-controller="UserController as ctrl">
<head>
    <title>Collaboration application</title>
  </head>

<body>

	<h1>
		<center>Collaboration</center>
	</h1>
	<!--<hr>-->

	<!--<a href="#!/job">Job</a>-->
	<!--<a href="#!/friend">Friend</a>-->
	<!--<li><a href="#!/myProfile">profile</a></li>-->
	<!--<li><a href="#!/blog">List Blog</a></li>-->
	<!--<a href="#!/blog">Blog</a>-->
	<!--<li><a href="#!/job">Search jobs</a></li>
	<li><a href="#!/job">View Applied jobs</a></li>
	<li><a href="#!/job">Post New Job</a></li>
	<li> <a href="#!/update-user">Edit Profile</a></li>
	<li><a href="#!/listchatforum">View Existing Forum</a></li>
	<li><a href="#!/friend">Search Friend</a></li>
	<li><a href="#!/friend">View Friend</a></li>
	<li ><a href="#!/register">Sign Up<span style="font-size:16px;" class=" glyphicon glyphicon-registration-mark"></span></a></li>-->
	<!--<a href="#!/register">signUp</a>-->
	<!--<a href="#!/login">login</a>-->
	<!--<ul class="nav navbar-nav navbar-right">-->
    <!--<li ><a href="#!/login">Login<span style="font-size:16px;" class=" glyphicon glyphicon-log-in"></span></a></li>
	<li ><a href="#/"ng-click="ctrl.logout()">Logout</a></li>-->
		<!-- <li ng-show="currentUser.userid" ><a href="#/"ng-click="ctrl.logout()">Logout<span style="font-size:16px;" class=" glyphicon glyphicon-log-in"></span></a></li>-->
	<!--</ul>	-->


	<!--<div ng-include="'app/components/user/user-navbar.html'">
	</div>-->
	<!--</hr>-->

	<!--<div ng-show="currentUser.role=='admin'" ng-include="'./app/components/user/admin-navbar.html'"></div>-->
	<div ng-include="'./app/components/user/user-navbar.html'"></div>
	

	<div ng-view></div>
<div ng-include="'./app/components/page/footer1.html'"></div>
</body>
 
<script src="./bower_components/angular/angular.js"></script>
<script src="./bower_components/angular-route/angular-route.js"></script> 
<script src="./bower_components/angular-cookies/angular-cookies.js"></script>


<script src="./app/app.js"></script>
<script src="./app/components/user/UserController.js"></script>
<script src="./app/components/user/UserServices.js"></script>
<script src="./app/components/blog/BlogController.js"></script>
<script src="./app/components/blog/BlogServices.js"></script>
<script src="./app/components/job/JobController.js"></script>
<script src="./app/components/job/JobServices.js"></script>
<script src="./app/components/user/FriendController.js"></script>
</html>