<head>
    <style>
        section{
		padding-left: 15px;
	}
    body
{
    background:url('././assets/1.jpg') fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
    padding-left: 15px;
}

.wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
</style>
</head>
<body>
<br>
        <a href="#!/myProfile" >My Profile</a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="#!/memberslist" >All Users</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#!/friendRequests" >Pending Friends Request</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#!/myfriends" >My Friends</a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="#!/createblog">Create Blog</a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="#!/listblog">List Blog</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#!/forumlist">Forum list</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#!/login" ng-click="ctrl.logout()">logout</a>&nbsp;&nbsp;&nbsp;&nbsp;
<br>
<div>
<div  class="container" ng-controller="FriendController as friendCtrl"  name="listUser">
<div ng-init=friendCtrl.fetchRequest()>
<h2>YOU HAVE {{friendCtrl.friendRequestsCount}} NEW FRIEND REQUESTS</h2>
<br />
<div ng-repeat="friend in friendCtrl.friendRequests">
user id:{{friend.userId}}<br>
name:{{friend.name}}<br>
<button class="teal darken-1 btn" ng-click="friendCtrl.approveRequest(friend.userId)">APPROVE</button>
<button class="teal darken-1 btn" ng-click="friendCtrl.rejectRequest(friend.userId)">REJECT</button>
</div>
</div>
</div>
</div>
</body>        