<head>
    <style>
		section{
		padding-left: 15px;
	}
    body
{
    background:url('././assets/1.jpg') fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
</style>
</head>
<body>
	<section>
	  	<a href="#!/myProfile" >My Profile</a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="#!/memberslist" >All Users</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#!/friendRequests" >Pending Friends Request</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#!/myfriends" >My Friends</a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="#!/createblog">Create Blog</a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="#!/listblog">List Blog</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#!/forumlist">Forum list</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#!/login" ng-click="ctrl.logout()">logout</a>&nbsp;&nbsp;&nbsp;&nbsp;
<div name="createblog">

<div class="generic-container" ng-controller="BlogController as ctrl">
<form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">
<label>Please Fill the Blog Details</label>
<div class="row">

						<div class="form-group col-md-12">
								<label class="col-md-2 control-lable" >User ID</label>  
								<div class="col-md-7">
									<input type="text"    ng-model="currentUser.userId" id="userId"
											class="userId form-control input-sm"
										placeholder="Enter your User ID"  />
								</div>
							</div>

							<div class="form-group col-md-12">
								<label class="col-md-2 control-lable" >User Name</label>  
								<div class="col-md-7">
									<input type="text"    ng-model="currentUser.name" id="userName"
											class="name form-control input-sm"
										placeholder="Enter your name"  />
								</div>
							</div>
							
							<div class="form-group col-md-12">
								<label class="col-md-2 control-lable" >Title</label>  
								<div class="col-md-7">
									<input type="text"    ng-model="ctrl.blog.blogName" id="blogName"
											class="blogName form-control input-sm"
										placeholder="Enter your tiltle" required ng-minlength="5" />
								</div>
							</div>
					
						<div class="form-group col-md-12">
								<label class="col-md-2 control-lable">Description</label>  
								<div class="col-md-7">
									<textarea rows="10" cols="50" ng-model="ctrl.blog.blogDescription" id="blogDescription"
											class="blogDescription form-control input-sm"
										placeholder="Blog Description">
										</textarea>
								</div>
							</div>
						
						<div class="row">
							<div class="form-actions floatRight">
								<input type="submit" value="Create Blog"
									class="btn btn-primary btn-sm">
								<button type="button" ng-click="ctrl.reset()"
									class="btn btn-warning btn-sm">Reset Blog</button>
							</div>
						</div>
						</div>
</form>

</div>
</div>
</section>
</body>
